/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* Encabezado */
header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

/* Navegación */
nav {
    background-color: #e9ecef;
    padding: 10px 0;
    border-radius: 8px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

/* Secciones */
section {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"],
input[type="file"],
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="file"],
button {
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

/* Listados */
.list-container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.list-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.list-item button:hover {
    background-color: #c82333;
}


.versions-container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.version-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.version-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.version-item button:hover {
    background-color: #c82333;
}


footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
