body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input, select, button {
    padding: 10px;
}

button {
    background: #333;
    color: #fff;
    border: none;
}

.product-list {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

#product-buttons button {
    margin-right: 50px;
    padding: 10px 50px;
    cursor: pointer;
}

#product-buttons button.selected {
    background-color: yellow;
    color: blue;
    border: 20px;
}