body {
    font-family: Arial, sans-serif;
    background-color: aqua;
}
.container {
    width: 300px;
    margin: 50px auto;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #7e80ff;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #f5d94bcd;
}
.result {
    margin-top: 20px;
    font-weight: bold;
}
