body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    color: #007bff;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#hoverDiv {
    background-color: lightgray;
    transition: background-color 0.3s ease, transform 0.3s;
}

#hoverDiv:hover {
    background-color: lightgreen;
    transform: scale(1.05);
}

#keypressInput {
    padding: 15px;
    font-size: 18px;
    transition: box-shadow 0.3s;
}

#keypressInput:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

#resizeMessage {
    font-size: 18px;
}

#showCodeButton {
    font-size: 18px;
    padding: 15px 30px;
    transition: background-color 0.3s, transform 0.3s;
}

#showCodeButton:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

#codeExplanation {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-explanation {
    margin-bottom: 20px;
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
}

code {
    font-family: 'Consolas', "Courier New", monospace;
    color: #c7254e;
    background-color: #f9f2f4;
    padding: 2px 4px;
    border-radius: 4px;
}
